.navbar {
    justify-content: space-between;

    .navbar-brand {
        img {
            width: 200px;
        }
    }
    .profile-overview {
        img {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            margin-right: 5px;
        }
    }
}